.container-card {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 20px;
}

main {
	padding-bottom: 8rem;
}
.title {
	text-align: center;
}
.container-fluid {
	color: white;
}
.bg-color {
	background: rgb(210, 210, 210);
	background: linear-gradient(
		103deg,
		rgba(210, 210, 210, 1) 1%,
		rgba(145, 145, 145, 1) 32%,
		rgba(131, 121, 140, 1) 65%,
		rgba(114, 111, 116, 1) 79%,
		rgba(65, 7, 115, 1) 100%
	);
}
aside {
	background: rgb(210, 210, 210);
	background: linear-gradient(
		103deg,
		rgba(210, 210, 210, 1) 1%,
		rgba(145, 145, 145, 1) 32%,
		rgba(131, 121, 140, 1) 65%,
		rgba(114, 111, 116, 1) 79%,
		rgba(65, 7, 115, 1) 100%
	);
	box-shadow: 0 0 70px 5px rgba(1, 1, 1, 0.5);
	display: flex;
	position: fixed;
	justify-content: space-around;
	align-items: center;
	left: 0;
	width: 100%;
	margin: 0 auto;
	bottom: 0;
	z-index: 1000;
	transform: translateY(100%);
	transition: 0.3s linear all;
}
/* #inventario {
    display: none;
} */
.single-card-container,
.single-card-containerEne {
	background: rgb(210, 210, 210);
	background: linear-gradient(
		259deg,
		rgba(210, 210, 210, 1) 0%,
		rgba(93, 93, 93, 1) 0%,
		rgba(255, 211, 135, 0.8914916308320203) 100%
	);
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 3px rgb(0, 0, 0);
	border-radius: 20px;
	width: 300px;
	height: auto;
	padding: 20px;
}

.cards-char{
	display: flex;
	align-items: baseline;
}

.char-info-container {
    display: flex;      
	justify-content: space-evenly;
	padding: 2rem;

}
.foto-char {
	margin: 20px;
}
.name-char {
	font-weight: bolder;
	font-size: 2rem;
}
.info-char,
.info-weapon {
	display: flex;
	border: solid 3px rgb(0, 0, 0);
	border-radius: 10px;
	text-align: start;
	padding-top: 20px;
	background: rgb(210, 210, 210);
	background: linear-gradient(
		259deg,
		rgba(210, 210, 210, 1) 0%,
		rgba(93, 93, 93, 1) 0%,
		rgba(255, 211, 135, 0.8914916308320203) 100%
	);

    padding-right: 0.5rem;
}
.hp,
.p-atk,
.p-def {
	font-weight: 500;
	padding: 5px;
	color: rgba(81, 106, 0, 0.678);
}
.white {
	color: white;
}
.char-container,
.weapon-container,
.enemy-container {
	border: solid black 4px;
	display: flex;
	border-radius: 25px;
	padding: 20px;
	height: 30%;
	background-color: #606679;
}

.cards {
	margin: 20px;
	height: 350px;
	width: 350px;
	box-shadow: 0px 5px 16px rgba(75, 75, 75, 0.2);
	padding: 25px;
	background: rgb(210, 210, 210);
	background: linear-gradient(
		259deg,
		rgba(210, 210, 210, 1) 0%,
		rgba(93, 93, 93, 1) 0%,
		rgba(255, 211, 135, 0.8914916308320203) 100%
	);
}
.foto-container {
	height: 35%;
}

.stats,
.statsArmas {
	list-style-type: none;
	font-weight: 500;
	color: rgba(3, 16, 99, 0.678);
}
/* buttons */

.contenedor-btn {
	position: absolute;
	background-color: transparent;
	z-index: 1000;
	top: 2%;
	left: 0%;
	width: 3rem;
}

.botonInv {
	position: fixed;
	background-color: transparent;
	left: 50%;
	bottom: 0;
	transform: translateX(-10%);
	outline: none;
	border: 0;
	background-color: white;
}
.btn-close {
	width: 100%;
}
.botonInv2 {
	background-color: red;
	position: absolute;
	left: 0;
	top: 0;
	outline: none;
	border: 0;
	z-index: 1200;
	background-color: white;
}
.primary-btn {
	box-shadow: 0px 5px 16px rgba(75, 75, 75, 0.2);
	border: none;
	border-radius: 10px;
	padding: 0.2rem 1rem;
}
.btn-choose {
	color: rgba(171, 22, 22, 0.826);
}
.btn-equip {
	color: #fafafa;
	position: fixed;
	bottom: 19%;
	left: 0;
	max-width: fit-content;
}
.btn-fight{
	position: fixed;
	right: 40px;
	bottom: 19%;
	
}
.btn-enemies {
	color: red;
}
/* ESTILOS MODAL */
.modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.7);
}
.modal-content {
	background-image: url(assets/background-modal.jpg);
	background-size: cover;
	display: grid;
	grid-template-columns: 1fr;
	background-repeat: no-repeat;
	margin: 5% auto; 
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	height: 80%;
}

.fight-master-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 25%;
	width: 90%;
	height: 90%;
}
.single-card-container-fight {
	color: white;
	display: grid;
	grid-template-rows: 3rem auto;
	place-items: center;
	width: 100%;
	height: 100%;
}
.card-upper {
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width: 100%;
	height: 4rem;
}

.card-bottom {
	margin: 0 auto;
	place-self: end;
}
.card-bottom img {
	width: 15rem;
	object-fit: cover;
}

.contenedorHp {
	background-color: #fafafa;
	width: 180px;
	height: 20px;
	border-radius: 5px;
	border: solid black 2px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.pos-rel {
	position: relative;
	bottom: 0;
	left: 0;
}
.elegido {
	position: relative;
	bottom: 0;
}
.inputRange {
	background: red;
	height: 17px;
	-webkit-appearance: none;
	outline: none;
	opacity: 0.9;
}

.hpNegro,
li {
	color: black;
	text-align: justify;
	font-weight: 500;
	font-size: large;
}
.hpNegro {
	position: relative;
	left: 153px;
	bottom: 24px;
}
/* .inputRange::-webkit-slider-runnable-track {
    opacity: 0;
}
.inputRange::-webkit-slider-runnable-track {
    background: red;
}

.inputRange::-moz-range-track {
    background: red;
}

.inputRange::-ms-track {
    background: red;
}
*/

.inputRange::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	opacity: 0;
}

.inputRange::-moz-range-thumb {
	opacity: 0;
}

/*  ============== ================= CSS DE PRUEBA ============== */
#myContainer {
	width: 500px;
	height: 20px;
	position: relative;
	background: DarkSeaGreen;
}
#myAnimation {
	width: 20px;
	height: 20px;
	position: absolute;
	background-color: Maroon;
}
